<form name="form" class="form-horizontal well">
    <div class="row">
        <div class="col-md-8">
           <div class="form-group">
              <label for="name" class="col-sm-4 control-label">Form Name</label>
              <div class="col-sm-8">
                  <input class="form-control" type="text" id="name" name="name" ng-model="damnForm.name" required />
                  <span ng-show="form.name.$error.required" class="help-block">
                      Required
                  </span>
              </div>
          </div>
        </div>
    </div>

    <hr class="ruler">
    <h2 class="subheading">Form Fields
        <a class="btn btn-warning btn-xs" href="" ng-click="addField()"> <i class="fa fa-plus"></i> Add Field</a>
    </h2>
    <div class="schema-list" ng-repeat="field in damnForm.schema">
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="fieldName">Field Name</label>
                <input class="form-control" type="text" id="fieldName" name="fieldName" ng-model="field.name" required />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="fieldType">Field Type</label>
                <select class="form-control" ng-model="field.type"  ng-options="value for value in fieldTypes">
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="fieldMandatory"></label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="fieldMandatory" name="fieldMandatory" ng-model="field.mandatry"> Mandatory
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-1">
                <a class="text-danger btn-remove" href="" ng-click="removeField($index)"> <i class="fa fa-times-circle"></i> </a>
            </div>
        </div>
    </div>


    <hr class="ruler">

    <div class="form-actions">
        <a ng-click="save()" class="btn btn-success" ng-disabled="saving || form.$invalid">
            <i class="icon-ok-sign" ng-hide="saving"></i>
            <i class="icon-spinner icon-spin ng-hide" ng-show="saving"></i>
            <span>Save</span>
        </a>
        <a class="btn btn-default" href="#/">Cancel</a>
    </div>
</form>
