<div class="page-header">
    <h1 class="heading"><i class="fa fa-file"></i> My Forms</h1>
</div>

<div class="list-section">
    <ul class="forms-list">
        <li class="forms-list-item" ng-repeat="form in forms">
          <a class="form-box" href="#/forms/show/{{ form._id }}">
            <span class="form-box-title">
                 {{ form.name }}
            </span>
          </a>
        </li>
        <li class="forms-list-item">
          <a class="form-box form-box-new" href="#/forms/new">
            <span class="form-box-title form-box-title-new">
                 <i class="fa fa-plus-circle"></i> New Form
            </span>
          </a>
        </li>
    </ul>
</div>
