// Forms

.forms-list {
  padding-left: 0;
}

.forms-list-item {
  list-style: none;
  display: inline-block;
  float: left;
  width: 25%;
}

.form-box {
  background-color: #475B74;
  height: 90px;
  margin: 0 16px 16px 0;
  font-size: 16px;
  line-height: 22px;
  display: block;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  font-weight: bold;
  padding: 8px 12px 8px 12px;
  position: relative;
  text-decoration: none;
  text-align: center;
}

.form-box-title {
  color: #fff;
  padding-top: 20px;
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
}

.form-box-title-new {
  color: #fcd9a1;
}

.form-horizontal .schema-list {
  .row,
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}

.search-container {
  margin-top: 40px !important;;
}

.sidepane {
  margin-top: 20px;
  margin-bottom: 20px;

  h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #888;
  }

  li > a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px 4px 0;

    &:hover, &:focus {
      text-decoration: none;
      background-color: #fff;
    }

    &.active {
      color: $brand-color;
    }
  }
}

.table thead {
  background-color: #e3e3e3;
  border-color: 1px solid #fafafa;
}
