// Forms

.forms-list {
  padding-left: 0;
}

.forms-list-item {
  list-style: none;
  display: inline-block;
  float: left;
  width: 25%;
}

.form-box {
  background-color: #475B74;
  height: 90px;
  margin: 0 16px 16px 0;
  font-size: 16px;
  line-height: 22px;
  display: block;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  font-weight: bold;
  min-height: 18px;
  padding: 8px 12px 8px 12px;
  position: relative;
  text-decoration: none;
}

.form-box-title {
  color: #fff;
  padding-top: 20px;
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
}

.form-box-title-new {
  color: #fcd9a1;
}

.form-horizontal .schema-list {
  .row,
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}

.search-container {
  margin-top: 40px !important;;
}
