.navbar-custom {
    margin-bottom: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
}

.navbar-custom li a {
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-brand {
    font-size: 22px;
    font-weight: 700;
    color: $brand-color !important;

    &:focus,
    &:hover,
    &:active {
        color: #333 !important;
    }

    &:focus {
        outline: 0;
    }
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.navbar-text {
    color: #888;

    img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
}

.support-link {
    text-transform: uppercase;
    font-weight: 500;
}
