<div class="container search-container">
  <div class="row">
    <div class="col-sm-6">
      <h3>{{damnForm.name}}
        <a href="#/forms/{{ damnForm._id.$oid }}/edit"><i class="fa fa-pencil"></i></a>
        <a ng-click="deleteForm()"><i class="fa fa-trash-o"></i></a>
      </h3>
    </div>
    <div class="col-md-6 pull-right">
      <form id="form" ng-submit='searchEntries()'>
        <div class="row">
          <div class="col-md-10">
            <input class="form-control" type="text" name="search"
               ng-model="search" placeholder="labels, any thing to be searched">
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-search" type="submit"><i class="fa fa-search"></i> Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr class="ruler ruler-lg">
<div class="container">
  <div class="row main-row">
    <div class="col-sm-2 nav sidepane">
      <h3>Labels</h3>
      <li class="sidepane-list-item">
        <a ng-click="searchEntries()" ng-class="{active: isCurrentLabel('All')}">All</a>
      </li>
      <li class="sidepane-list-item" ng-repeat="label in damnForm.labels">
        <a ng-click="searchEntries(label)" ng-class="{active: isCurrentLabel(label)}">{{label}}</a>
      </li>
    </div>
    <div class="col-sm-10">
      <p>
        {{damnFormEntries.length}} entries of <span class="text-warning">{{currentLabel}}</span>
      </p>
      <table class="table">
          <thead>
            <tr>
              <th ng-repeat="mandatory in mandatories">
                {{mandatory}}
              </th>
              <th>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entry in damnFormEntries">
              <td ng-repeat="mandatory in mandatories">
                {{entry[mandatory]}}
              </td>
              <td>
                <a ng-click="showEntry(entry)">View</a>
              </td>
            </tr>
          </tbody>
       </table>
    </div>
  </div>
</div>
