<div class="container search-container">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="heading">{{damnForm.name}}
        <a class="btn btn-default btn-sm" href="#/forms/{{ damnForm._id.$oid }}/edit"><i class="fa fa-pencil"></i> Edit</a>
        <a class="btn btn-default btn-sm" ng-click="deleteForm()"><i class="fa fa-trash-o"></i> Delete</a>
      </h4>
    </div>
    <div class="col-sm-6 pull-right">
      <form id="form" ng-submit='searchEntries()'>
        <div class="row">
          <div class="col-md-10">
            <input class="form-control" type="text" name="search"
               ng-model="search" placeholder="labels, any thing to be searched">
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-search" type="submit"><i class="fa fa-search"></i> Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr class="ruler">
<div class="container">
  <div class="row main-row">
    <div class="col-sm-2 nav sidepane">
      <h3>Labels</h3>
      <li class="sidepane-list-item">
        <a ng-click="searchEntries()" ng-class="{active: isCurrentLabel('All')}">All</a>
      </li>
      <li class="sidepane-list-item" ng-repeat="label in damnForm.labels">
        <a ng-click="searchEntries(label)" ng-class="{active: isCurrentLabel(label)}">{{label}}</a>
      </li>
    </div>
    <div class="col-sm-10">
      <div ng-hide="sendingmail">
        <p class="pull-right">
          <a class="btn btn-default btn-sm" ng-click="sendMail()"><i class="fa fa-envelope"></i> Send mail to below contacts</a>
        </p>
        <p>
          {{damnFormEntries.length}} entries of <span class="text-warning">{{currentLabel}}</span>
        </p>
        <table class="table">
            <thead>
              <tr>
                <th ng-repeat="mandatory in mandatories">
                  {{mandatory}}
                </th>
                <th>
                  Labels
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entry in damnFormEntries">
                <td ng-repeat="mandatory in mandatories">
                  {{entry[mandatory]}}
                </td>
                <td>
                  <span class="label label-info" ng-repeat="label in entry.labels">{{label}}</span>
                  <a ng-click="editLabels(entry)"><i class="fa fa-pencil"></i></a>
                </td>
                <td>
                  <a ng-click="showEntry(entry)"><i class="fa fa-eye"></i> view</a>
                  <span class="text-muted">|</span>
                  <a ng-click="sendMail(entry.email)"><i class="fa fa-envelope"></i> send mail</a>
                </td>
              </tr>
            </tbody>
         </table>
        </div>
        <div ng-show="sendingmail">
          <form class="form-horizontal" ng-submit="sendMails()">
            <div class="form-group">
            <label for="subject" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="subject" ng-model="mailSubject" placeholder="Subject" required/>
            </div>
            </div>
            <div class="form-group">
              <label for="subject" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-6">
              <textarea class="form-control" name="message" rows="10" ng-model="mailMessage"></textarea required>
            </div>
            </div>
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
              <button type="submit" class="btn btn-primary">Send mail</button>
              <button name="button" class="btn btn-default" ng-click="cancelMail()">cancel</button>
            </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
